.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4ADE80 #23232A;
}

.customScrollbar::-webkit-scrollbar {
  width: 8px;
  background: #23232A;
  border-radius: 8px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #4ADE80;
  border-radius: 8px;
  min-height: 40px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}

.customScrollbar::-webkit-scrollbar-corner {
  background: #23232A;
}
