.container {
  width: 400px;
  height: 600px;
  background: #18181B;
  display: flex;
  box-shadow: 0 4px 24px 0 rgb(0 0 0 / 12%);
  flex-direction: column;
}

.pageName {
  color: #fff;
  font-size: 20px;
  margin-top : 10px;
  margin-bottom: 16px;
  font-weight: 700;
  text-align: center;
}

.inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 12px;
}

.selected {
  font-weight: 700;
}

.childList {
  margin-top: 12px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;   
}

.childItem {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.childName {
  cursor: pointer;
  flex: 1;
}

.childType {
  color: #aaa;
  font-size: 14px;
}

.childError {
  color: #FF5A5A;
  font-size: 11px;
  margin-left: 6px;
}

.noChild {
  color: #aaa;
}
